body {
    background-color: azure;
}

.header {
    background-color: blue;
    color: white;
    border: 5px;
}

h1 {
    display: inline-block;
    background-color: blue;
}

.header div ul li {
    display: inline-block;
    text-align: right;
    color: white;
    position: relative;
    left: 400px;
}

img {
    display: block;
}

h2,
h3,
h4,
h5 {
    text-align: center;
}